@import url(../variables.css);

.Card-accesorios {
  background-color: var(--color3);
  color: var(--color1);
  border-radius: 20px;
  padding: 20px;
}

.container-img-accesorios {
  position: relative;
  display: flex;
  justify-content: center;
}

.container-img-accesorios img {
  width: 230px;
  height: 190px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  border-radius: 30px;
}

.overlay-accesorios {
  border-radius: 30px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease;
}

.button-overlay-accesorios {
  padding: 10px 10px;
  background-color: #1e1e1e;
  color: var(--color3);
  border: none;
  border-radius: 10px;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
  opacity: 0;
}

.button-overlay-accesorios a {
  text-decoration: none;
  color: var(--color3);
}

.container-img-accesorios:hover .overlay-accesorios {
  opacity: 1;
}

.container-img-accesorios:hover .button-overlay-accesorios {
  opacity: 1;
}

.tittle-card-accesorios {
  font-size: 20px;
}

.description-card-accesorios {
  font-weight: bold;
  font-size: 17px;
  margin: -10px 0;
}

.body-card-accesorios {
  margin-top: 4%;
  border-top: 2px solid var(--color1);
}

.body-card-accesorios ul {
  list-style: none;
  translate: -40px;
}

.button-card-accesorios {
  display: flex;
  justify-content: center;
}

.button-card-add-accesorios{
  padding: 10px 40px;
  background-color: #1e1e1e;
  color: var(--color3);
  border: none;
  border-radius: 10px;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.button-card-add-accesorios a {
  text-decoration: none;
  color: var(--color3);
}

.button-card-add-accesorios:hover {
  transform: scale(1.05);
  background-color: var(--color2);
}

.price-accesorios {
  margin-top: 10px;
  font-size: 20px;
  font-weight: 800;
}

/* Diseño responsive del card */

@media screen and (min-width: 967px) and (max-width: 1310px) {
  .Card-accesorios {
    padding: 20px;
    width: 230px;
    height: 430px;
  }

  .container-img-accesorios img {
    width: 230px;
    height: 180px;
  }

  .button-overlay-accesorios {
    padding: 10px 10px;
  }

  .description-card-accesorios {
    margin: -15px 0;
  }

  .body-card-accesorios {
    font-size: 15px;
  }

  .button-card-add-accesorios {
    padding: 10px 15px;
    font-size: 13px;
  }
}

@media screen and (min-width: 740px) and (max-width: 966px) {
  .Card-accesorios {
    padding: 20px;
    width: 170px;
    height: 330px;
  }

  .container-img-accesorios img {
    width: 150px;
    height: 130px;
  }

  .button-overlay-accesorios {
    padding: 8px 8px;
  }

  .description-card-accesorios {
    margin: -8px 0;
  }

  .body-card-accesorios {
    font-size: 12px;
  }

  .button-card-add-accesorios {
    padding: 10px 10px;
    font-size: 9px;
  }
}

@media screen and (min-width: 600px) and (max-width: 739px) {
  .Card-accesorios {
    padding: 14px;
    width: 150px;
    height: 300px;
  }

  .container-img-accesorios img {
    width: 140px;
    height: 120px;
  }

  .button-overlay-accesorios {
    padding: 7px 7px;
  }

  .description-card-accesorios {
    margin: -8px 0;
  }

  .body-card-accesorios {
    font-size: 11px;
  }

  .button-card-add-accesorios {
    padding: 8px 8px;
    font-size: 9px;
  }
}

@media screen and (min-width: 200px) and (max-width: 599px) {
  .Card-accesorios {
    padding: 20px;
    width: 140px;
    height: 270px;
  }

  .container-img-accesorios img {
    width: 120px;
    height: 100px;
  }

  .button-overlay-accesorios {
    padding: 7px 7px;
  }

  .description-card-accesorios {
    margin: -7px 0;
  }

  .body-card-accesorios {
    margin-top: 4%;
    font-size: 10px;
  }

  .button-card-add-accesorios {
    padding: 8px 8px;
    font-size: 8px;
  }
}