.detalles-ventas {
    overflow-x: auto;
    background-color: var(--color4);
    height: 100vh;
  }
  
.ventas-cards {
    height: 50%;
    width: 60%;
    background-color: var(--color4);
    margin-left: 55vh;
    margin-top: 12%;
    border: 2px solid var(--color1);
    display: flex;
  }
  
.left-venticas{
    background-color: var(--color6);
    height: 100%;
    width: 10%;
    position: relative;
    display: flex;
    flex-direction: column; 
    justify-content: flex-end; 
    align-items: center; 
    margin-bottom: 20px; 
  }
  
.icone-venticas,
  .icond-venticas{
    background-color: var(--color3); 
    width: 50px;
    height: 50px; 
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20%;
    margin-bottom: 20px; 
  }
.delete-icon-venticas {
    font-size: 35px;
    color: var(--color1);
  }
  
.edit-icon-venticas {
    font-size: 26px;
    color: var(--color1);
  }




  
.ventas-form { 
  width: 70%; 
  margin: 5px auto;
}

.grupo-ventas { 
  display: flex; 
  justify-content: space-between; 
}

.campo-ventas {
   flex-basis: 48%;
   margin-bottom: 10px; 
   margin-right: 25px; 
  }

.campo-ventas label { 
  display: block; 
  margin-bottom: 5px; 
  font-weight: bold; 
  color: var(--color1);
}

.campo-ventas input {
  padding:5px;
  border-radius: 10px;
  border: 1px solid var(--color1);
  background-color: var(--color1);
  color: var(--color3);
  padding: 10px;
  }
  .titulo-ventas{
    color: var(--color1);
    text-align: center;
  }
   .campo-ventas .venticas{
    width: 80%;

  }

  .campo-ventas .venticas-2{
    width: 80%;
    margin-left: 20%;
  }
  .boton-ventas{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
  }
  .boton-venticas{
    padding:5px;
    border-radius: 15px;
    border: 1px solid var(--color1);
    background-color: var(--color1);
    color: var(--color3);
    padding: 10px;
  }

  .boton-venticas a{
    text-decoration: none;
    color: var(--color3);
  }


